<main class="flex justify-center items-center w-full h-screen text-white">
    <form class="flex flex-col justify-around w-4/12 h-[70%] p-4 rounded-xl shadow-lg bg-black bg-opacity-70"
        [formGroup]="userForm" (submit)="onSubmit()">
        <h1 class="w-fit text-xl px-2 font-bold border-b-2 border-green3">Iniciar sesión</h1>
        <div class="flex flex-col space-y-8">
            <div class="">
                <label class="itemLabel" for="username">
                    Usuario*
                </label>
                <input class="itemInput" formControlName="username" id="username" type="text" placeholder="Abel">
                <app-error-span [hidden]="username.valid || username.pristine"
                    [error]="username.errors"></app-error-span>
            </div>
            <div class="">
                <label class="itemLabel" for="password">
                    Contraseña*
                </label>
                <input class="itemInput" formControlName="password" id="password" type="password"
                    placeholder="**************">
                <app-error-span [hidden]="password.valid || password.pristine"
                    [error]="password.errors"></app-error-span>
            </div>
        </div>
        @if (error){
        <app-error-message [message]="message" />
        }
        <app-button [disabled]="userForm.invalid" title="Iniciar Sesión" />
    </form>
</main>